doctype html
html
    head
            meta(charset='utf-8')
            link(rel="styleSheet", href="css/normalize.css")
            link(rel="styleSheet", href="css/main.css")
            title
    body
        div.b-header.clearfix
            div.b-wrapper
                a(href="#" class="b-header__logo")
                    img(src="img/header_logo.png")
                div.b-header__contacts
                    div.b-header__contact-phone
                        a(href="tel:+79602771882" class="b-header__contact-pre")
                            sup.b-header__contact-phone-code +7960
                            span.b-header__contact-phone-body 277 18 82
                    div.b-header__contact-mail
                        a(href="shilov.g.s@gmail.com" class="b-header__contact-mail-link") shilov.g.s@gmail.com
        nav
            div.b-wrapper
                ul.b-menu
                     li.b-menu__item: a(href="#" class="b-menu__item-link") Мобильные телефоны
                     li.b-menu__item: a(href="#" class="b-menu__item-link") MP3 плееры
                     li.b-menu__item: a(href="#" class="b-menu__item-link") Планшеты
                     li.b-menu__item: a(href="#" class="b-menu__item-link") Персональные компьютеры
                     li.b-menu__item: a(href="#" class="b-menu__item-link") Ноутбуки
                     li.b-menu__item: a(href="#" class="b-menu__item-link") Apple TV
                     li.b-menu__item: a(href="#" class="b-menu__item-link") Аксес
        div(class="b-main clearfix")
            div.b-wrapper
                    div(class="b-nav-block clearfix")
                        div.b-nav-block__brd
                            ul.b-nav-block__brd-list
                                li.b-nav-block__brd-item: a(href="#" class="b-nav-block__brd-link")  Главная
                                li.b-nav-block__brd-item: a(href="#" class="b-nav-block__brd-link")  Катлог
                        div.b-nav-block_nav-wrapper
                            div.b-nav-block__select-view
                                select.b-nav-block__select
                                    option(1) Сеткой
                                    option(2) Линиями
                                a.b-nav-block__select-button
                            div.b-nav-block__pages
                                ul.b-nav-block__pages-list
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  1
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  2
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  3
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  4
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  5
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  Все
                        div.b-sidebar
                    div.b-main__navigation
                            ul.b-main__navigation-list
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iPhone
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") Iphone 4s
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iPhone 5
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iPhone 5s с эксклюзивным дизайном
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iPhone 6
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iPhone 6 plus
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iPad
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iMac
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") Macbook
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") iPod
                                li.b-main__navigation-item: a.b-main__navigation-link(href="#") Другое
                    div.b-catalog
                        div.b-catalog__list
                            ul.b-catalog__list-ul
                                li.b-catalog__list-item
                                        img(src="img/1.jpg" class="b-catalog__list-img")
                                        div.b-catalog__list-title: a(href="#" class="b-catalog__list-link") Apple iPad cellurol llalaladfsdfsdfsdfsdfsdfsdfsdfsdflala
                                        div.b-catalog__list-descr
                                            table
                                                tr
                                                    td.b-catalog__list-table-item Артикул
                                                    td.b-catalog__list-table-item 111111
                                                tr
                                                    td.b-catalog__list-table-item Опция
                                                    td.b-catalog__list-table-item 111111
                                                tr
                                                    td.b-catalog__list-table-item Цвет
                                                    td.b-catalog__list-table-item 111111
                                                tr
                                                    td.b-catalog__list-table-item Размер
                                                    td.b-catalog__list-table-item 111111
                                                tr
                                                    td.b-catalog__list-table-item Вес
                                                    td.b-catalog__list-table-item 1111111
                                li.b-catalog__list-item
                                    img(src="img/2.jpg" class="b-catalog__list-img")
                                    div.b-catalog__list-title: a(href="#" class="b-catalog__list-link") Apple iPad cellurol llalaladfsdfsdfsdfsdfsdfsdfsdfsdflala
                                    div.b-catalog__list-descr
                                        table
                                            tr
                                                td.b-catalog__list-table-item Артикул
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Опция
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Цвет
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Размер
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Вес
                                                td.b-catalog__list-table-item 1111111
                                li.b-catalog__list-item
                                    img(src="img/3.jpg" class="b-catalog__list-img")
                                    div.b-catalog__list-title: a(href="#" class="b-catalog__list-link") Apple iPad cellurol llalaladfsdfsdfsdfsdfsdfsdfsdfsdflala
                                    div.b-catalog__list-descr
                                        table
                                            tr
                                                td.b-catalog__list-table-item Артикул
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Опция
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Цвет
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Размер
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Вес
                                                td.b-catalog__list-table-item 1111111
                                li.b-catalog__list-item
                                    img(src="img/4.jpg" class="b-catalog__list-img")
                                    div.b-catalog__list-title: a(href="#" class="b-catalog__list-link") Apple iPad cellurol llalaladfsdfsdfsdfsdfsdfsdfsdfsdflala
                                    div.b-catalog__list-descr
                                        table
                                            tr
                                                td.b-catalog__list-table-item Артикул
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Опция
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Цвет
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Размер
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Вес
                                                td.b-catalog__list-table-item 1111111
                                li.b-catalog__list-item
                                    img(src="img/5.jpg" class="b-catalog__list-img")
                                    div.b-catalog__list-title: a(href="#" class="b-catalog__list-link") Apple iPad cellurol llalaladfsdfsdfsdfsdfsdfsdfsdfsdflala
                                    div.b-catalog__list-descr
                                        table
                                            tr
                                                td.b-catalog__list-table-item Артикул
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Опция
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Цвет
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Размер
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Вес
                                                td.b-catalog__list-table-item 1111111
                                li.b-catalog__list-item
                                    img(src="img/6.jpg" class="b-catalog__list-img")
                                    div.b-catalog__list-title: a(href="#" class="b-catalog__list-link") Apple iPad cellurol llalaladfsdfsdfsdfsdfsdfsdfsdfsdflala
                                    div.b-catalog__list-descr
                                        table
                                            tr
                                                td.b-catalog__list-table-item Артикул
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Опция
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Цвет
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Размер
                                                td.b-catalog__list-table-item 111111
                                            tr
                                                td.b-catalog__list-table-item Вес
                                                td.b-catalog__list-table-item 1111111
                            div(class="b-nav-block__pages clearfix")
                                ul.b-nav-block__pages-list
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  1
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  2
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  3
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  4
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  5
                                    li.b-nav-block__pages-item: a(href="#" class="b-nav-block__pages-link")  Все
                            div.b-catalog__description
                                h1.b-catalog__description-h1 Пара слов о магазине
                                div.b-catalog__description-text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
                                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
        div.b-footer
            div.b-wrapper
                div.b-footer__logo
                div.b-footer-menu
                    ul.b-footer-menu__list
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") О нас
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Наши цены
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Наши скидки
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Акции
                    ul.b-footer-menu__list
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Смартфоны
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Планшеты
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Компьютеры
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Аксессуары
                    ul.b-footer-menu__list
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Телефон
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Адрес
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Карта проезда
                        li.b-footer-menu__list-item: a.b-footer-menu__list-link(href="#") Оратная связь
                div.b-footer__links
                    div.b-footer-store
                        img(src="img/footer_apple-store.png" class="b-footer-store__image")
                        img(src="img/footer_andro-store.png" class="b-footer-store__image")
                    div.b-footer-social
                        ul.b-footer-social__items
                            li.b-footer-social__item
                                a.b-footer-social__item-link(href="#")
                                    img.b-footer-social__item-img(src="img/footer_vk.png")
                            li.b-footer-social__item
                                a.b-footer-social__item-link(href="#")
                                    img.b-footer-social__item-img(src="img/footer_fb.png")
                            li.b-footer-social__item
                                a.b-footer-social__item-link(href="#")
                                    img.b-footer-social__item-img(src="img/footer_twi.png")